/*
!/.gitignore
!/LICENSE
!/README.md
!/pyproject.toml
!/doc/
!/cfg/
!/img/
!/src/
!/sys/
!/pne/

/doc/**/*
!/doc/README.md

/pne/**/*
!/pne/Dockerfile
!/pne/pne.run
!/pne/home/
!/pne/home/.bashrc
!/pne/home/.emacs.d/
!/pne/home/.emacs.d/init.el

/cfg/**/*
!/cfg/.readthedocs.yaml
!/cfg/requirements.txt
!/cfg/*.run

/img/**/*
!/img/pack.py
!/img/*/
!/img/*/init.run
!/img/*/dock.run
!/img/*/requirements.txt
!/img/jl/jupyter/
!/img/jl/jupyter/jupyter_server_config.json
!/img/jl/share/
!/img/jl/share/notebook_secret

/src/**/*
!/src/**/*/
!/src/conf.py
!/src/index.md
!/src/_static/css/*.css
!/src/_static/js/*.js
!/src/_templates/autosummary/*.rst
!/src/jlpy/**/*.py
!/src/jlpy/**/index.rst
!/src/jlpy/**/index.md
!/src/jljl/**/*.ipynb
!/src/jljl/**/index.md
!/src/jlmd/**/*.md
!/src/jlmd/ubuntu/init.el
!/src/jlmd/ubuntu/bashrc

/src/jljl/**/.ipynb_checkpoints/
flycheck*