/*
!/.gitignore
!/LICENSE
!/README.md
!/doc/
!/cfg/
!/src/

/doc/**/*
!/doc/README.md

/cfg/**/*
!/cfg/readthedocs.yaml
!/cfg/requirements.txt
!/cfg/pip*.txt

/src/**/*
!/src/**/*/
!/src/conf.py
!/src/index.md
!/src/_static/css/*.css
!/src/_static/js/*.js
!/src/_templates/autosummary/*.rst
!/src/jlpy/**/*.py
!/src/jlpy/**/index.rst
!/src/jlpy/**/index.md
!/src/jljl/**/*.ipynb
!/src/jljl/**/index.md
!/src/jlmd/**/*.md

/src/jljl/**/.ipynb_checkpoints/