/*
!/.gitignore
!/LICENSE
!/README.md
!/pyproject.toml
!/doc/
!/cfg/
!/img/
!/src/
!/sys/
!/pne/
!/env/

/*/**/*
!/*/**/*/

!README.md

!/pne/Dockerfile
!/pne/*.run
!/pne/home/.bashrc
!/pne/home/.emacs.d/init.el
!/pne/home/.emacs.d/.last-package-update-day
!/pne/home/.emacs.d/.lsp-session-v1
!/pne/home/.emacs.d/eshell/alias
!/pne/home/.emacs.d/snippets/**/*
!/pne/home/.jupyter/jupyter_server_config.json
!/pne/home/.local/share/jupyter/notebook_secret
!/pne/dock/.bashrc
!/pne/dock/init.el
!/pne/dock/post.sh

!/env/pack.py
!/env/*.ini
!/env/*.txt

!/cfg/.readthedocs.yaml
!/cfg/requirements.txt

!/src/conf.py
!/src/index.md
!/src/_static/css/*.css
!/src/_static/js/*.js
!/src/_templates/autosummary/*.rst
!/src/jlmd/**/*.md
!/src/jlpy/**/index.md
!/src/jlpy/**/*.py
!/src/jljl/**/index.md
!/src/jljl/**/*.ipynb

/src/jljl/**/.ipynb_checkpoints/
flycheck*
